<h1>A node view</h1>

<form action="/node" method="post">
    <input type="text" name="email">
    <button type="submit">Enviar</button>
</form>

<h1>Dados do User recuperados:</h1>
{{firstNameV}} <br>
{{lastNameV}} <br>
{{passwordV}} <br>
{{firstNameV}} <br>
{{emailV}} <br>
{{messagesV}} <br>